<div>
  <div class="profile-input-wrapper">
    {{{editDataButton}}}
  </div>
  <div class="profile-input-wrapper">
    {{{editPasswordButton}}}
  </div>
  <div class="profile-input-wrapper">
    {{{exitButton}}}
  </div>
</div>
