<div class="row profile-input-wrapper">
  <label class="profile-input-wrapper__label">{{labelText}}</label>
  <input
    class="profile-input-wrapper__input"
    type="{{type}}"
    {{#if defaultValue}}
    value="{{defaultValue}}"
    {{/if}}
    name="{{name}}"
    {{#if isDisabled}}
    disabled
    {{/if}}
  />
</div>