@import "/main.scss";

.primary-input {
    background-color: $white-color;
    border-radius: 6px;
    padding: 0.5rem;
    width: 100%;
}

.primary-input::placeholder {
    color: $second-color;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    .input__icon {
        position: absolute;
    }

    .input_icon {
        padding-left: 2rem;
    }
}
