<div class="search-container">
  <img
    src="/static/search.svg"
    alt="Логотип поиска"
    class="search-container__icon"
  />
  <input
    class="search-container__input primary-input"
    placeholder="Поиск"
    type="text"
  />
</div>