<div class="profile-container">
  <div class="avatar-container">
    <div class="avatar-image">
      {{{avatarImage}}}
      <p class="hover-title">Сменить аватар</p>
    </div>
    <p class="title">{{firstName}}</p>
  </div>
  {{{dataContainer}}}
</div>

