<div class="profile__card">
    <div class="card__avatar-wrapper">
        <div class="row-wrapper__avatar" name="avatar">
            {{{avatarImage}}}
            <div class="avatar__hover-wrapper">
                <p class="hover-wrapper__text">Поменять аватар</p>
            </div>
        </div>
        <p class="row-wrapper__user-name">Иван</p>
    </div>
    {{{dataWrapper}}}
    {{{actionsWrapper}}}
</div>
