<div class="modal">
  <div class="header"><p class="title">{{title}}</p></div>
  <div class="body">
    {{{body}}}
    {{#if errorMessage}}
      <p class="error-message">{{errorMessage}}</p>
    {{/if}}
  </div>
  <div class="footer">{{{actions}}}</div>

</div>