<div class="left-column__chat-list">
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
    {{> pages/chats/components/left-column/components/chat-list/components/chat-list-item/chat-list-item}}
</div>