@import "/main.scss";
@import "../../components/button/button.scss";
@import "../../components/input/input.scss";
@import "../../components/link/link.scss";

.date {
    font-size: 11px;
    text-align: right;
}

.chats-grid {
    display: grid;
    grid-template-columns: 2.5fr 7.5fr;
    position: relative;
}
