<div class="chats-grid__right-column">
    <div class="right-column__chat">
        <p>Выберите чат чтобы отправить сообщение</p>
    </div>
    <div class="right-column__message-actions">
        {{> components/button/button image="/static/clip.svg"}}
        <input class="primary-input" type="text" placeholder="Сообщение" name="message" />
        {{> components/button/button class="button_primary button_circle" image="/static/arrow-right.svg"}}
    </div>
</div>