<form class="form">
    {{> components/form/form__header title="Регистрация"}}
    <div class="form__body">
        {{> components/form/form__input labelText="Почта" name="email" isRequired="true"}}
        {{> components/form/form__input labelText="Логин" name="login" isRequired="true"}}
        {{> components/form/form__input labelText="Имя" name="first_name" isRequired="true"}}
        {{> components/form/form__input labelText="Фамилия" name="second_name" isRequired="true"}}
        {{> components/form/form__input labelText="Телефон" name="phone" isRequired="true"}}
        {{> components/form/form__input labelText="Пароль" name="password" type="password" isRequired="true"}}
        {{> components/form/form__input labelText="Пароль (ещё раз)" name="password" type="password" isRequired="true"}}
    </div>
    <div class="form__footer">
        {{> components/button/link class="button_primary" to="../chats/" text="Зарегистрироваться"}}
        {{> components/button/link to="../login/" text="Войти"}}
    </div>
</form>