@import "/main.scss";

.row {
    border-bottom: 1px solid $line-color;
    padding: 0.4rem;
}

.row:last-child {
    border: none;
}

.account-container {
    display: grid;
    grid-template-columns: 4rem auto;

    .account-container__profile {
        display: flex;
        align-items: center;
        justify-content: center;

        .profile__card {
            width: 40%;

            display: flex;
            flex-direction: column;
            gap: 3rem;

            .card__avatar-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.4rem;

                .row-wrapper__avatar {


                    background-color: $white-color;
                    border-radius: 50%;
                    height: 10rem;
                    width: 10rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    position: relative;

                    .avatar__hover-wrapper {
                        position: absolute;
                        display: none;
                        border-radius: 50%;
                        height: 10rem;
                        width: 10rem;
                        align-items: center;
                        justify-content: center;


                        .hover-wrapper__text {
                            color: $white-color;
                            width: 50%;
                            text-align: center;
                        }
                    }
                }

                .row-wrapper__avatar:hover {
                    .avatar__hover-wrapper {
                        display: flex;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                .row-wrapper__user-name {
                    text-align: center;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }
}
