@import "/main.scss";

.actions{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.error-message{
    color: $danger-color;
}
