<div class="message-list__wrapper__item">
    {{#if image}}
        {{{image}}}
    {{/if}}
    <p class="item__text">{{text}} <span class="item__text__statuses">{{#if isMyMessage}}<img src="{{imageSource}}"/>{{/if}}<span class="date">{{date}}</span></span>
    </p>
</div>
