<div class="profile-input-wrapper">
  <label class="profile-input-wrapper__label">{{labelText}}</label>
  {{{input}}}
</div>
{{#if isError}}
  <span class="validation-error">{{validationErrorText}}</span>
{{/if}}
