@import "/main.scss";

.profile-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .profile-input-wrapper__label {
        font-weight: 600;
    }

    .profile-input-wrapper__input {
        text-align: end;
        color: black;
    }

    .profile-input-wrapper__input:disabled {
        color: $second-color;
    }

    .profile-input-wrapper__input_error {
        color: $danger-color;
    }

}
