<form class="form">
  <div class="header">
    <p class="title">
      {{title}}
    </p>
  </div>
  <div class="body">
    <label class="input-file">
      {{{fileInput}}}
      <span class="text">{{inputText}}</span>
    </label>
  </div>
  <div class="footer">{{{submitButton}}}</div>
</form>
