@import "/main.scss";

.container-center {
    flex-direction: column;
    gap: 1rem;

    .error-title {
        font-size: 60px;
    }

    .error-message {
        font-size: 20px;
    }

    .error-link {
        font-size: 15px;
    }
}
